.login-screen {
    height: 100vh;
    width: 100%;
    background: url('../assets/edgar-castrejon-1CsaVdwfIew-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: rgba(235, 244, 255, 0.95);

    @media(min-width: 688px) {
        width: 50%;
    }

    @media(min-width: 992px) {
        width: 35%;
    }

    h1 {
        font-size: 6rem;
        margin-top: 5%;
        margin-bottom: 4%;
        font-weight: bold;

        @media(min-width: 992px) {
            margin-top: 3%;
            margin-bottom: 3%;
        }
    }

    .login-desc {
        font-size: 1.8rem;
        line-height: 24px;
        width: 90%;
        text-align: center;
        margin-bottom: 5%;

        @media(min-width: 992px) {
            font-size: 1.5rem;
            margin-bottom: 3%;
        }
    }

    .anticon-spin {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 5%;
    }

    .ant-alert {
        margin-bottom: 5%;
        font-size: 1.5rem;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .input-container {
            width: 85%;
            margin-bottom: 7%;

            @media(min-width: 992px) {
                margin-bottom: 4%;
            }

            .login-input {
                background: #fafafa;
                width: 100%;
                box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.25);
                font-size: 2.4rem;
                border: none;
                height: 07vh;
                padding-left: 3%;

                @media(min-width: 992px) {
                    height: 05vh;
                    font-size: 1.8rem;
                }
            }
    
            .errors {
                color: red;
                width: 85%;
                text-align: left;
                font-size: 1.5rem;
            }
        }
        
        .login-btn {
            background: #FCDE7B;
            color: black;
            width: 85%;
            height: 07vh;
            border: none;
            border-radius: 20px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
            font-size: 2.5rem;
            font-family: 'Roboto', sans-serif;
            transition: .25s ease-in-out;
            margin-bottom: 8%;

            &:hover {
                background: coral;
                color: #fafafa;
            }
        }
    }

    .options {
        font-size: 2rem;
        line-height: 24px;
        width: 90%;
        text-align: center;

        @media(min-width: 992px) {
            font-size: 1.5rem;
        }

        a {
            font-size: 2rem;
            line-height: 24px;
            color: #F17012;
            
            &:hover {
                border-bottom: 2px solid #f17012;
            }

            @media(min-width: 992px) {
                font-size: 1.5rem;
            }
        }
    }
}
